doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  title RandWind Login
  link(rel='icon' href='../resources/img/randwind_logo.png' type='image/x-icon')
  // Bootstrap core CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous')
  style.
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
  // Custom styles for this template
  link(href='../resources/css/signin.css' rel='stylesheet')
  link(href='../resources/css/my_style.css' rel='stylesheet')
nav.navbar.navbar-expand-lg.navbar-light(style='background: #D7E6F3;')
  a.navbar-brand(href='/')
    img(src='../resources/img/randwind_logo.png' alt='' width='30%' height='30%')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='/about')
          | About
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/saved_strings') My Generations
    - if(!loggedIn)
        ul.navbar-nav.my-2.my-lg-0
          li.nav-item
            a.nav-link(href='/login') Login
          li.nav-item
            a.nav-link(href='/registration') Register
    - else
        .form-inline.my-2.my-lg-0
          form(action='/logout' method='post')
            button.btn.btn-outline-light.my-2.my-sm-0(type='submit') Logout
.container
  .row
    .col-lg-12
      form.form-signin(action='/auth' method='POST')
        img.rounded-circle(src='../resources/img/randwind_logo.png' alt='' width='72' height='72')
        h1.h3.mb-3.font-weight-normal Please sign in
        label.sr-only(for='inputEmail') Email address
        input#inputEmail.form-control(type='email' placeholder='Email address' name = 'inputEmail' required='' autofocus='')
        label.sr-only(for='inputPassword') Password
        input#inputPassword.form-control(type='password' placeholder='Password' name = 'inputPassword' required='')
        .checkbox.mb-3
          label
          input(type='checkbox' value='remember-me')
          |  Remember me |
          a(href='') Forgot Password?
          button.btn.btn-lg.btn-primary(type='submit') Sign in
          a.btn.btn-lg.btn-primary(href='registration') Register
          p.mt-5.mb-3.text-muted &copy; 2018-2019
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous')
